.tab-bar{
    background: #FFFFFF;
    width: 100%;
    position: absolute;
    bottom: -1px;
    z-index: 3;
    margin: 0 auto;
    overflow: hidden;
    border-top: 1px solid #e0e0e0;
    font-size: 1.3rem;
    font-family: var(--font-navigation);
    color: #666666;
    box-sizing: border-box;
}
@media (min-width:480px){
    .tab-bar{
        width: calc(100% - 4px);
        left:2px;
    }
}
.tab-bar > ul {
    width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 70px;
  list-style: none;
}
.tab-link{
    padding: 15px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #666666;
}
.tab-link:focus{
    color:#370F6E;
}
.tab-bar .active{
    color:#370F6E;
    position: relative;
}
.tab-bar .active::before{
    content: '';
    position: absolute;
    width: 80%;
    height: 5px;
    background: #370F6E;
    top: -1px;
    left: 50%;
    border-radius: 30px;
  transform: translateX(-50%);
}