.search-icon{
    position: absolute;
    top:10px;
    left:10px;
    width: 1.3rem;
    opacity: 0.5;
}
.search-input{
    flex: 3;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    font: 1.3rem var(--font-body-text);
}
.search-input:focus-visible{
    outline: none;
    box-shadow: 0 0px 4px rgba(255, 255, 255,0.7);
}
