header{
    width: 100%;
    overflow: hidden;
    min-height: 140px;
    background:radial-gradient(circle at center top, #E0BFFE 10%, #d5a7ff 18%, #7B22FA 80%),
    linear-gradient(to bottom, #d5a7ff 0%, #7B22FA 90%, #3D0A4D 100%), url(https://www.transparenttextures.com/patterns/diagmonds-light.png);
    background-blend-mode: overlay;
    padding: 15px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 15px;
}
.inner-header-top{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    position: relative;
    align-items: center;
}
.header-user {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem; 
    border: 3px solid #370F6E;
    border-radius: 50%; 
    overflow: hidden;
    cursor: pointer;
}

.header-user .fa-solid {
    align-self: center;
    color: black; 
    font-size: 2.2rem; 
    position: relative;
    bottom: -3px; 
    color: #370F6E;
}
.inner-header-bottom{
    padding-left:30px ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    font: 1.3rem var(--font-navigation);
}
.inner-header-bottom p{
    width: 100%;
    flex-shrink: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.inner-header-bottom > :nth-child(1){
    font-weight: 600;
}
.inner-header-bottom > :nth-child(3){
    font-size: 1.2rem;
}
.location{
    position: absolute;
    left:10px;
    top: 10px;
}
