.image-wrapper{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:100px auto ;
    gap: 5px;
    position: relative;
    overflow: hidden;
}
.image-wrapper img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(75, 90, 124,0.4);
    font-size: 1.2rem;
    object-position: center center;
    object-fit: cover;
}
.image-wrapper > p{
    font-size: 1.3rem;
    max-width: 100%;
    flex-shrink: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #1E0E49;
}
.price-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p.quantity{
    color: #8d7f7f;
}
p.price{
    font-size: 1.3rem;
    font-weight: 600;
     color: var(--color-heading);
}
p.price::before{
    content:'\20B9';
}
span.product-item-counter{
    display: flex;
}
.product-item-counter .add-first-item{
    font-size: 1.1rem;
    color:#f76c4d;
    border: 2px solid  #f76c4d;
    border-radius: 3px;
    padding: 2px 6px;
    cursor: pointer;
}
.count-box{
    display: flex;
    border-radius: 2px;
    font-size: 1.1rem;
    overflow: hidden;
    padding: 2px 0;
}
.remove-item{
    color: tomato;
    background-color: #ffebee; /* Light tomato color background */
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 3px 6px;
    cursor: pointer;
}
.add-item{
    color: green;
    background-color: #e8f5e9; /* Light green color background */
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 3px 6px;
    cursor: pointer;
}
.count-text{
    padding: 0px 7px;
    display: flex;
    align-items: center;
}