#root{
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;
}
main{
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc(var(--vh,1)*100);
    background: var(--color-background);
    overflow-y: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    padding-bottom: 70px ;
}
@media (min-width:480px){
    main{
        border: 2px solid #370F6E;
    }
}