.image-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap:12px;
    padding: 15px;
    max-width: 100%;
    overflow: hidden;
    background-color: var(--color-background);
}